.panelImage {
    -fx-background-color : #FFFFFF;
}
.registerNav{
    -fx-background-color : #ececec;
}
.image {
    -fx-background-radius: 100%;
    -fx-background-color: white;
    -fx-border-color: #ececec;
    -fx-border-width: 10px;
}

.image-container {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}
.quality-bar .combo-box {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.quality-bar .arrow-button {
    -fx-background-color: transparent;
    -fx-shape: "";
}

/* Style for the popup */
.quality-bar .list-view {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

.quality-bar .list-view .list-cell {
    -fx-padding: 5px 10px;
}

.quality-bar .combo-box .list-cell:selected {
    -fx-background-color: #f0f0f0;
}

.thanksNav{
    -fx-background-color:  #f7ffff;
}


