.panelImage {
    -fx-background-color : #FFFFFF;
}
.registerNav{
    -fx-background-color : #ececec;
}
.image {
    -fx-background-radius: 100%;
    -fx-background-color: white;
    -fx-border-color: #ececec;
    -fx-border-width: 10px;
}

.image-container {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}
.quality-bar .combo-box {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.quality-bar .arrow-button {
    -fx-background-color: transparent;
    -fx-shape: "";
}

/* Style for the popup */
.quality-bar .list-view {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

.quality-bar .list-view .list-cell {
    -fx-padding: 5px 10px;
}

.quality-bar .combo-box .list-cell:selected {
    -fx-background-color: #f0f0f0;
}

.thanksNav{
    -fx-background-color:  #f7ffff;
}
/* Style for PieChart Title */
/* Checking Animated Button */
.animated-button {
    -fx-cursor: hand;
}
/* Login Button Hover Effect */
.loginBtn{
    -fx-background-color: #23033B;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.loginBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:  #23033B;
    -fx-border-color:  #23033B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.cancelBtn{
     -fx-background-color: #C0392B;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.cancelBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:  #C0392B;
    -fx-border-color:  #C0392B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.signupBtn{
     -fx-background-color: #FF8F00;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.signupBtn:hover{
     -fx-background-color:transparent;
     -fx-background-radius: 5px;
     -fx-text-fill:  #FF8F00;
     -fx-border-color:  #FF8F00;
     -fx-border-width: 1px;
     -fx-border-style: solid;
     -fx-border-radius: 5px;
}
.registerBtn{
    -fx-background-color:  #00A36C;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.registerBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:  #00A36C;
    -fx-border-color:  #00A36C;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.text-field {
    -fx-background-radius: 5px;
    -fx-border-color:   #23033B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.text-field:hover {
    -fx-background-color: transparent;
}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-border-color:  #23033B;
}
.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
    -fx-border-color:  #23033B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.combo-box:hover {
    -fx-background-color: transparent;
}

.combo-box:focused {
    -fx-background-color: transparent;
    -fx-border-color: #23033B;
}










